.generator-wrapper {
  width: 700px;
  margin: 60px auto;
  padding: 30px;
  text-align: center;
  border: 1px solid black;
  border-radius: 6px;
  background-color: #efefef;
}

.button {
  padding: 2px 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 6px;
}